//- 
  Dog (Animated)
  Grant Jenkins, August 2022

  Animation based off:
  https://www.pinterest.com.au/pin/428193877066356360/?nic_v2=1a1wPl432

canvas#canvas
script(src="https://cdn.jsdelivr.net/processing.js/1.4.8/processing.min.js")